Repository itsharex/relay-pulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

go-fmt:
  name: Go Format
  entry: bash -c 'echo "格式化 Go 文件..." && gofmt -l -w $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) && git add $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) 2>/dev/null; echo "Go 文件已格式化并重新暂存"'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-build:
  name: Go Build
  entry: go build ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat(storage): add data retention cleanup and archive functionality
  cmd/server/main.go
  docs/user/config.md
  internal/config/config.go
  internal/storage/archiver.go
  internal/storage/cleaner.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(storage): use independent context for advisory lock unlock
  internal/storage/postgres.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(storage,scheduler): improve production reliability
  internal/config/config.go
  internal/scheduler/scheduler.go
  internal/storage/cleaner.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix: 默认关闭数据清理并支持归档定时
  .gitignore
  docs/user/config.md
  internal/config/config.go
  internal/storage/archiver.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

Notes added by 'git notes add'
  a3b42698def980c0dfb1a9e4187b129517da22fd
Due: none

feat(notifier): 排除冷板订阅 + 平台独立限流
  internal/api/status_query_handler.go
  notifier/config.yaml.example
  notifier/internal/config/config.go
  notifier/internal/notifier/sender.go
  notifier/internal/qq/bot.go
  notifier/internal/telegram/bot.go
  notifier/internal/validator/validator.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(announcements): 实现 GitHub Discussions 公告通知功能
  cmd/server/main.go
  frontend/src/App.tsx
  frontend/src/components/AnnouncementsBanner.tsx
  frontend/src/components/Header.tsx
  frontend/src/hooks/useAnnouncements.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  internal/announcements/fetcher.go
  internal/announcements/handler.go
  internal/announcements/service.go
  internal/api/server.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

refactor(config): 拆分 config.go 提升可维护性
  internal/config/badges.go
  internal/config/config.go
  internal/config/enums.go
  internal/config/external.go
  internal/config/features.go
  internal/config/helpers.go
  internal/config/monitor.go
  internal/config/storage_config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor(config): 将 ServiceConfig 方法移至 monitor.go
  internal/config/config.go
  internal/config/monitor.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor(config): 拆分 Validate/Normalize 为私有辅助函数
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

test(config): 补充父子继承边界情况测试
  internal/config/parent_inheritance_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(announcements): 支持 SOCKS5 代理（含账号密码认证）
  docs/user/config.md
  internal/announcements/fetcher.go
  internal/config/external.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(verify): 支持 -model 参数按四元组精确匹配
  cmd/verify/main.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(data): 添加 GPT 多模型监测请求体配置
  data/cx_base_gpt-5.2.json
  data/cx_base_gpt-gpt-5.1-codex-max.json
  data/cx_base_gpt-gpt-5.1-codex-mini.json
Due: none

fix(frontend): 动态计算多模型热力图时间戳对齐容差
  frontend/src/components/LayeredHeatmapBlock.tsx
  frontend/src/hooks/useMonitorData.ts
Due: frontend-lint

fix(verify): 支持 OpenAI Responses API 的完整响应组装
  cmd/verify/main.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(data): update model version to gpt-5.1-codex-max in configuration
  data/cx_base_gpt-gpt-5.1-codex-max.json
Due: none

feat(config): 支持隐藏通道技术细节和官方基准通道徽标
  docs/user/config.md
  frontend/src/components/badges/GenericBadge.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  internal/api/handler.go
  internal/api/monitor_groups.go
  internal/config/badges.go
  internal/config/config.go
  internal/config/monitor.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(monitor): 支持 per-monitor 代理配置
  docs/user/config.md
  go.mod
  internal/config/monitor.go
  internal/monitor/client.go
  internal/monitor/probe.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(config): 完善 per-monitor proxy 配置验证与规范化
  internal/config/config.go
  internal/config/helpers.go
  internal/config/monitor.go
  internal/config/proxy_test.go
  internal/monitor/client.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(probe): 支持探测失败自动重试
  config.yaml.example
  internal/config/config.go
  internal/config/monitor.go
  internal/monitor/probe.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor(config): 拆分 config.go 为多个职责单一的文件
  internal/config/app_config.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/lifecycle.go
  internal/config/normalize.go
  internal/config/normalize_monitors.go
  internal/config/parent_inheritance.go
  internal/config/parent_inheritance_test.go
  internal/config/validate.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(monitor): 支持 Gemini API SSE 格式解析
  cmd/verify/main.go
  internal/monitor/probe.go
  internal/monitor/probe_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

Notes added by 'git notes add'
  f552c974dc8b5046fb6846ce437f5f8bb827b4d4
Due: none

feat: 支持热板/副板/冷板三层板块系统与完整的 board 过滤
  .gitignore
  QUICKSTART.md
  README.md
  cmd/genconfig/README.md
  cmd/genconfig/generator/generator.go
  cmd/genconfig/generator/generator_test.go
  cmd/genconfig/main.go
  docs/user/config.md
  frontend/src/App.tsx
  frontend/src/components/BoardSwitcher.tsx
  frontend/src/components/Controls.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/hooks/useUrlState.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/pages/ProviderPage.tsx
  frontend/src/types/index.ts
  internal/api/disabled_filter_test.go
  internal/api/handler.go
  internal/api/status_query_handler.go
  internal/config/validate.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

Notes added by 'git notes add'
  b83ab7f8a75cfd98d41b6fe022e61e56851313bb
Due: none

feat(frontend): optimize table header width with two-line wrapping
  frontend/src/components/StatusTable.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: frontend-lint

Notes added by 'git notes add'
  73aa5098961d7600e0933b747465a611e4412071
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
