Repository itsharex/relay-pulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

go-fmt:
  name: Go Format
  entry: bash -c 'echo "格式化 Go 文件..." && gofmt -l -w $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) && git add $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) 2>/dev/null; echo "Go 文件已格式化并重新暂存"'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-build:
  name: Go Build
  entry: go build ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(frontend): remove min-h-screen in screenshot mode for auto height
  frontend/src/App.tsx
Due: frontend-lint

feat(notifier): add global "状态检查" command for QQ groups
  notifier/README.md
  notifier/internal/qq/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(config): support per-service slow_latency override
  cmd/server/main.go
  config.yaml.example
  docs/user/config.md
  frontend/src/components/StatusCard.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/types/index.ts
  internal/api/handler.go
  internal/config/config.go
  internal/selftest/manager.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

fix(notifier): add SQLite busy_timeout and retry for concurrent access
  notifier/README.md
  notifier/config.dev.yaml
  notifier/config.yaml.example
  notifier/internal/config/config.go
  notifier/internal/storage/sqlite.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

chore: add .gocache/ to .gitignore
  .gitignore
Due: none

feat(sponsor): add per-sponsor pinning quota based on service_count
  config.yaml.example
  docs/user/config.md
  docs/user/sponsorship.md
  frontend/src/types/index.ts
  frontend/src/utils/sortMonitors.ts
  internal/api/handler.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(selftest): add Gemini (gm) test type support
  .github/ISSUE_TEMPLATE/1-provider-suggestion.yml
  frontend/src/components/SelfTestForm.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  internal/selftest/test_types.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

fix(controls): fix TimeFilterPicker scroll and desktop layout issues
  frontend/src/components/Controls.tsx
  frontend/src/components/TimeFilterPicker.tsx
Due: frontend-lint

feat(config): add per-monitor slow_latency and timeout configuration
  CLAUDE.md
  docs/user/config.md
  internal/config/config.go
  internal/monitor/client.go
  internal/monitor/probe.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(data): add Gemini thinking mode test template
  data/gm_base_thinking.json
Due: none

feat(notifier): validate subscription target before adding
  notifier/internal/qq/bot.go
  notifier/internal/telegram/bot.go
  notifier/internal/validator/format.go
  notifier/internal/validator/validator.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(sponsor): use provider instead of sponsor for pinning quota grouping
  docs/user/config.md
  docs/user/sponsorship.md
  frontend/src/utils/sortMonitors.ts
Due: frontend-lint

feat(notifier): expand subscriptions instead of wildcard for /add command
  notifier/internal/qq/bot.go
  notifier/internal/storage/sqlite.go
  notifier/internal/telegram/bot.go
  notifier/internal/validator/validator.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(notifier): add group-specific title to screenshot
  frontend/src/App.tsx
  notifier/internal/qq/bot.go
  notifier/internal/screenshot/service.go
  notifier/internal/telegram/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(notifier): add admin whitelist for QQ bot
  notifier/cmd/notifier/main.go
  notifier/config.yaml.example
  notifier/internal/config/config.go
  notifier/internal/qq/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(verify): add SSE streaming response support
  cmd/verify/main.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

chore(data): add request payloads for opus and sonnet models
  data/cc_tiny_opus.json
  data/cc_tiny_sonnet.json
Due: none

feat(monitor): add OpenAI Responses API SSE format support
  cmd/verify/main.go
  internal/monitor/probe.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(monitor): add multi-model parent-child channel support
  .gitignore
  frontend/src/components/LayeredHeatmapBlock.tsx
  frontend/src/components/MultiModelIndicator.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/types/index.ts
  frontend/src/utils/mockMonitor.ts
  frontend/src/utils/sortMonitors.test.ts
  internal/api/handler.go
  internal/api/monitor_groups.go
  internal/api/status_query_handler.go
  internal/config/config.go
  internal/config/parent_inheritance_test.go
  internal/events/detector.go
  internal/events/service.go
  internal/monitor/probe.go
  internal/scheduler/scheduler.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

docs(config): add model and parent field documentation
  docs/user/config.md
Due: none

feat(config): inherit provider/service/channel from parent path
  docs/user/config.md
  internal/config/config.go
  internal/config/parent_inheritance_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor(ui): simplify multi-model heatmap display
  frontend/src/components/LayeredHeatmapBlock.tsx
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

fix(ui): handle missing layer data in multi-model heatmap
  frontend/src/components/LayeredHeatmapBlock.tsx
Due: frontend-lint

fix(config): recalculate Duration fields after parent inheritance
  docs/user/config.md
  internal/config/config.go
  internal/config/parent_inheritance_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(scheduler): group-based staggering for multi-model monitors
  internal/scheduler/grouping_test.go
  internal/scheduler/scheduler.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(ui): use timestamp alignment for multi-model heatmap
  frontend/src/components/LayeredHeatmapBlock.tsx
  frontend/src/hooks/useMonitorData.ts
Due: frontend-lint

feat(ui): support multi-model heatmap in card view
  frontend/src/components/LayeredHeatmapBlock.tsx
  frontend/src/components/StatusCard.tsx
Due: frontend-lint

docs(sponsorship): improve disclaimer and add agreement confirmation
  docs/user/sponsorship.md
Due: none

docs(sponsorship): mark custom Tips feature as planned
  docs/user/sponsorship.md
Due: none

feat(notifier): aggregate multi-model events to reduce duplicate notifications
  internal/api/events_handler.go
  notifier/internal/notifier/sender.go
  notifier/internal/poller/poller.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(qq): support // prefix for self-issued commands
  notifier/internal/qq/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(qq): support message_sent event for self-issued commands
  notifier/internal/qq/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

chore(qq): add debug logging for message events
  notifier/internal/qq/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(notifier): support LOG_LEVEL environment variable
  notifier/cmd/notifier/main.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

Notes added by 'git notes add'
  e3fe5ce16f763462bcfbd1dc1cbd8b821572a4c1
Due: none

feat(events): add channel-level event detection mode
  cmd/server/main.go
  docs/user/config.md
  internal/config/config.go
  internal/events/channel_detector.go
  internal/events/service.go
  internal/scheduler/scheduler.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(events): improve channel event detection reliability
  cmd/server/main.go
  internal/events/service.go
  internal/scheduler/scheduler.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

chore(dev): add local PostgreSQL development environment commands
  .gitignore
  Makefile
  configs/pg-local.env
Due: none

fix(scheduler): dynamically compute startup groupBaseDelay to avoid overlap warnings
  internal/scheduler/scheduler.go
  internal/scheduler/stagger_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor(config): remove misleading provider_slug duplicate notice
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
