Repository itsharex/relay-pulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

go-fmt:
  name: Go Format
  entry: bash -c 'echo "格式化 Go 文件..." && gofmt -l -w $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) && git add $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) 2>/dev/null; echo "Go 文件已格式化并重新暂存"'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-build:
  name: Go Build
  entry: go build ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat(dx): 添加一键启动/停止开发环境命令
  .gitignore
  Makefile
  scripts/dev-all.sh
  scripts/stop-dev.sh
Due: none

feat(badges): 添加默认徽标注入和 enable_badges 全局开关
  config.yaml.example
  docs/user/config.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(badges): enable_badges 改为控制所有徽标类型的总开关
  docs/user/config.md
  frontend/src/App.tsx
  frontend/src/components/StatusCard.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/pages/ProviderPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/badgeUtils.ts
  internal/api/handler.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

perf(ui): 压缩表格行高（65px → ~50px）
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

feat(ui): 官方 API Key 时隐藏赞助者名称
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

style(badges): 压缩徽标列间距和尺寸
  frontend/src/components/badges/BadgeCell.tsx
  frontend/src/components/badges/CategoryBadge.tsx
  frontend/src/components/badges/RiskBadge.tsx
Due: frontend-lint

style(table): 两行布局统一行高
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

style(ui): 优化表格行高和徽标间距
  frontend/src/components/ExternalLink.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/components/badges/BadgeCell.tsx
  frontend/src/components/badges/CategoryBadge.tsx
Due: frontend-lint

docs(i18n): 优化徽标 tooltip 文案
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: none

style(badges): 降低 api_key_official 徽标醒目程度
  frontend/src/components/badges/GenericBadge.tsx
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

chore: 统一“检测”为“监测”
  README.md
  config.yaml.example
  docs/user/config.md
  frontend/src/components/StatusCard.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/components/badges/BadgeCell.tsx
  frontend/src/components/badges/FrequencyIndicator.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/types/index.ts
  frontend/src/utils/badgeUtils.ts
  frontend/src/utils/mockMonitor.ts
  internal/api/handler.go
  internal/api/meta.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(favorites): 添加收藏管理功能与筛选器动态联动
  frontend/src/App.tsx
  frontend/src/components/Controls.tsx
  frontend/src/components/EmptyFavorites.tsx
  frontend/src/components/FavoriteButton.tsx
  frontend/src/components/StatusCard.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/hooks/useFavorites.ts
  frontend/src/hooks/useUrlState.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/pages/ProviderPage.tsx
Due: frontend-lint

perf(storage): 将 http_code 纳入覆盖索引消除回表
  internal/storage/postgres.go
  internal/storage/sqlite.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

Notes added by 'git notes add'
  abf8d215cfe0ad12187a48d17e9f29b4b6008786
Due: none

feat: 添加最小 cc token请求模板
  data/cc_tiny.json
Due: none

perf(api): 实现批量查询优化 7d/30d 接口性能
  internal/api/handler.go
  internal/config/config.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

refactor: 移除自动清理功能并将时间范围从1h改为90m
  CLAUDE.md
  cmd/server/main.go
  docs/user/config.md
  docs/user/deploy-postgres.md
  frontend/src/components/Controls.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useMonitorData.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/utils/heatmapAggregator.ts
  internal/api/handler.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

style(table): 优化表格布局与质量趋势列宽度
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

Revert "style(table): 优化表格布局与质量趋势列宽度"
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

fix(badges): tooltip 改为向上显示避免被表格裁剪
  frontend/src/components/StatusTable.tsx
  frontend/src/components/badges/CategoryBadge.tsx
  frontend/src/components/badges/FrequencyIndicator.tsx
  frontend/src/components/badges/GenericBadge.tsx
  frontend/src/components/badges/PublicBadge.tsx
  frontend/src/components/badges/RiskBadge.tsx
  frontend/src/components/badges/SponsorBadge.tsx
Due: frontend-lint

fix(badges): 动态 tooltip 方向避免被表格裁剪
  frontend/src/components/StatusTable.tsx
  frontend/src/components/badges/BadgeCell.tsx
  frontend/src/components/badges/CategoryBadge.tsx
  frontend/src/components/badges/FrequencyIndicator.tsx
  frontend/src/components/badges/GenericBadge.tsx
  frontend/src/components/badges/PublicBadge.tsx
  frontend/src/components/badges/RiskBadge.tsx
  frontend/src/components/badges/SponsorBadge.tsx
Due: frontend-lint

feat(table): 添加服务商快速筛选按钮
  frontend/src/App.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: frontend-lint

refactor(badges): 使用 Portal 渲染 tooltip 解决 overflow 裁剪问题
  frontend/src/components/badges/BadgeTooltip.tsx
  frontend/src/components/badges/CategoryBadge.tsx
  frontend/src/components/badges/FrequencyIndicator.tsx
  frontend/src/components/badges/GenericBadge.tsx
  frontend/src/components/badges/PublicBadge.tsx
  frontend/src/components/badges/RiskBadge.tsx
  frontend/src/components/badges/SponsorBadge.tsx
  frontend/src/hooks/useBadgeTooltip.ts
Due: frontend-lint

fix(badges): tooltip 水平边界检测防止超出视口
  frontend/src/components/badges/BadgeTooltip.tsx
Due: frontend-lint

feat(events): 添加状态订阅通知功能
  cmd/server/main.go
  config.yaml.example
  docs/user/config.md
  internal/api/events_handler.go
  internal/api/server.go
  internal/config/config.go
  internal/events/detector.go
  internal/events/detector_test.go
  internal/events/service.go
  internal/events/types.go
  internal/monitor/probe.go
  internal/scheduler/scheduler.go
  internal/storage/postgres.go
  internal/storage/sqlite.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(notifier): 添加 Telegram 通知订阅服务
  .github/workflows/ci-release.yml
  .github/workflows/notifier-docker.yml
  .gitignore
  Dockerfile
  Makefile
  docs/user/config.md
  frontend/.env.production
  frontend/src/App.tsx
  frontend/src/components/Controls.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/pages/ProviderPage.tsx
  internal/api/events_handler.go
  internal/config/config.go
  notifier/.air.toml
  notifier/Dockerfile
  notifier/README.md
  notifier/cmd/notifier/main.go
  notifier/config.dev.yaml
  notifier/docker-compose.yaml
  notifier/go.mod
  notifier/go.sum
  notifier/internal/api/server.go
  notifier/internal/config/config.go
  notifier/internal/notifier/sender.go
  notifier/internal/poller/poller.go
  notifier/internal/storage/sqlite.go
  notifier/internal/storage/storage.go
  notifier/internal/telegram/bot.go
  notifier/internal/telegram/client.go
  scripts/dev-all.sh
  scripts/stop-dev.sh
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

fix(notifier): 修复 Event 结构体 JSON 标签与 Dockerfile 构建问题
  notifier/Dockerfile
  notifier/config.yaml.example
  notifier/internal/notifier/sender.go
  notifier/internal/poller/poller.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(notifier): 修复收藏列表解析使用错误的分隔符
  notifier/internal/telegram/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(data): add initial configuration for GPT-5.2 model with instructions and input structure
  data/cx_base_251223.json
Due: none

docs: 添加赞助权益体系规则文档
  CLAUDE.md
  docs/user/sponsorship.md
Due: none

docs: 完善法律风险防护文档体系
  .github/ISSUE_TEMPLATE/3-data-correction.yml
  .github/ISSUE_TEMPLATE/4-delist-request.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/user/config.md
  docs/user/methodology.md
Due: none

fix: notifier 默认使用上海时区
  notifier/README.md
  notifier/docker-compose.yaml
Due: none

feat(frontend): 优化刷新按钮，合并自动刷新开关
  frontend/src/App.tsx
  frontend/src/components/Controls.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/RefreshButton.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: frontend-lint

feat(frontend): 收藏和TG订阅按钮合并为紧凑按钮组
  frontend/src/components/Controls.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/components/icons/TelegramIcon.tsx
Due: frontend-lint

style(frontend): 统一操作区元素高度为 40px
  frontend/src/components/Controls.tsx
  frontend/src/components/MultiSelect.tsx
  frontend/src/components/RefreshButton.tsx
  frontend/src/components/SubscribeButton.tsx
Due: frontend-lint

fix(i18n): 修复筛选器搜索占位符文案
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: none

style(frontend): 优化移动端刷新按钮自动刷新状态显示
  frontend/src/components/Header.tsx
  frontend/src/components/RefreshButton.tsx
Due: frontend-lint

feat(frontend): 优化默认体验
  frontend/src/App.tsx
  frontend/src/components/RefreshButton.tsx
  frontend/src/hooks/useUrlState.ts
  frontend/src/pages/ProviderPage.tsx
Due: frontend-lint

style(frontend): 优化自动刷新圆点视觉效果
  frontend/src/components/RefreshButton.tsx
Due: frontend-lint

feat(frontend): 添加 Gemini (GM) 服务支持
  data/gm_base_tiny_251224.json
  frontend/src/components/Controls.tsx
  frontend/src/components/ServiceIcon.tsx
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
Due: frontend-lint

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
