Repository itsharex/relay-pulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for LLM Service Monitor
# 安装: pre-commit install && pre-commit install --hook-type commit-msg
# 手动运行: pre-commit run --all-files

repos:
  # Commitlint - 检查提交信息格式
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - '@commitlint/config-conventional'

  # Go 代码格式化和检查
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'echo "格式化 Go 文件..." && gofmt -l -w $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) && git add $(git diff --cached --name-only --diff-filter=ACM | grep "\.go$" || true) 2>/dev/null; echo "Go 文件已格式化并重新暂存"'
        language: system
        pass_filenames: false
        files: '\.go$'
      - id: go-vet
        name: Go Vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        files: '\.go$'
      - id: go-build
        name: Go Build
        entry: go build ./...
        language: system
        pass_filenames: false
        files: '\.go$'

  # 通用检查
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
      - id: end-of-file-fixer
        name: Fix End of Files
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check Large Files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check Merge Conflicts

  # 本地自定义检查
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: '\.go$'

      - id: check-docs-sync
        name: Check Docs Sync
        entry: ./scripts/check-docs.sh
        language: script
        pass_filenames: false
        always_run: true

      # 前端 lint 检查
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: '^frontend/.*\.(ts|tsx|js|jsx)$'

style(frontend): 服务类型采用品牌配色方案
  frontend/src/components/StatusCard.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/styles/themes/default-dark.css
  frontend/src/styles/themes/index.css
  frontend/src/styles/themes/light-cool.css
  frontend/src/styles/themes/light-warm.css
  frontend/src/styles/themes/night-dark.css
Due: frontend-lint

style(frontend): 降低 CX 服务文字亮度
  frontend/src/styles/themes/default-dark.css
  frontend/src/styles/themes/night-dark.css
Due: none

chore: add domain verification file
  frontend/public/02d006b6af0358a2a0dfe5d9e2079bfb.txt
Due: none

refactor(data): rename gm body template to standard naming
  data/gm_base.json
Due: none

fix(frontend): add latency as tertiary sort key for sponsor pinning
  frontend/src/utils/sortMonitors.ts
Due: frontend-lint

docs: update sponsor pinning sort rules with latency tiebreaker
  docs/user/config.md
  docs/user/sponsorship.md
Due: none

fix(frontend): resolve circular dependency in filter options + Set optimization
  frontend/src/App.tsx
  frontend/src/hooks/useMonitorData.ts
Due: frontend-lint

fix(frontend): prevent descender clipping in provider name
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

style(frontend): simplify auto-refresh toggle indicator
  frontend/src/components/RefreshButton.tsx
  frontend/src/styles/themes/index.css
Due: frontend-lint

style(frontend): adjust disabled auto-refresh toggle visibility
  frontend/src/components/RefreshButton.tsx
  frontend/src/styles/themes/index.css
Due: frontend-lint

style(frontend): fine-tune disabled toggle opacity to 50%
  .gitignore
  frontend/src/components/RefreshButton.tsx
  frontend/src/styles/themes/index.css
Due: frontend-lint

feat: add display name configuration for provider/service/channel
  CLAUDE.md
  frontend/src/components/StatusTable.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/types/index.ts
  frontend/src/utils/mockMonitor.ts
  frontend/src/utils/sortMonitors.test.ts
  internal/api/handler.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

fix(frontend): use channelName as filter label in channel dropdown
  frontend/src/App.tsx
  frontend/src/components/Controls.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/pages/ProviderPage.tsx
  frontend/src/types/index.ts
Due: frontend-lint

feat(api): add DB-side timeline aggregation for 7d/30d periods
  docs/user/config.md
  internal/api/handler.go
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/postgres.go
  internal/storage/storage.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

docs: add sponsor pinning slot limit rule
  docs/user/sponsorship.md
Due: none

fix(monitor): optimize Gemini API request for lower token usage
  data/gm_base.json
Due: none

feat(favorites): auto-cleanup invalid favorites with all_monitor_ids
  frontend/src/App.tsx
  frontend/src/hooks/useFavorites.ts
  frontend/src/hooks/useMonitorData.ts
  frontend/src/pages/ProviderPage.tsx
  frontend/src/types/index.ts
  internal/api/disabled_filter_test.go
  internal/api/handler.go
  internal/config/config.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(boards): add hot/cold board functionality
  config.yaml.example
  docs/user/config.md
  frontend/src/components/Controls.tsx
  frontend/src/components/MultiSelect.tsx
  frontend/src/components/RefreshButton.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/components/icons/TelegramIcon.tsx
  frontend/src/hooks/useUrlState.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/utils/mockMonitor.ts
  frontend/src/utils/sortMonitors.test.ts
  internal/scheduler/scheduler.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(community): add community menu with QQ group QR code
  frontend/public/favicon.svg
  frontend/public/qqun.jpg
  frontend/src/components/CommunityMenu.tsx
  frontend/src/components/Header.tsx
  frontend/src/constants/index.ts
  frontend/src/i18n/locales/en-US.json
  frontend/src/i18n/locales/ja-JP.json
  frontend/src/i18n/locales/ru-RU.json
  frontend/src/i18n/locales/zh-CN.json
  frontend/src/types/index.ts
Due: frontend-lint

fix(mobile): resolve horizontal scroll overflow and improve layout
  frontend/src/App.tsx
  frontend/src/components/CommunityMenu.tsx
  frontend/src/components/Controls.tsx
  frontend/src/components/StatusTable.tsx
  frontend/src/index.css
Due: frontend-lint

fix(controls): resolve TimeFilterPicker dropdown being clipped by overflow
  frontend/src/components/Controls.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/StatusTable.tsx
Due: frontend-lint

fix(mobile): improve community menu layout and centering
  frontend/src/components/CommunityMenu.tsx
Due: frontend-lint

fix(mobile): make time align and time filter buttons scroll with time range
  frontend/src/components/Controls.tsx
Due: frontend-lint

fix(desktop): allow filter dropdowns to overflow visible
  frontend/src/components/Controls.tsx
Due: frontend-lint

fix(seo): resolve Google indexing issues with canonical/hreflang
  frontend/src/App.tsx
  frontend/src/hooks/useSeoMeta.ts
  frontend/src/pages/ProviderPage.tsx
  internal/api/handler.go
  internal/api/meta.go
  internal/api/meta_test.go
  internal/api/server.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

fix(url): preserve board=cold URL param during initial load
  frontend/src/App.tsx
  frontend/src/hooks/useMonitorData.ts
  frontend/src/pages/ProviderPage.tsx
Due: frontend-lint

fix(controls): move TimeFilterPicker outside overflow container
  frontend/src/components/Controls.tsx
Due: frontend-lint

Notes added by 'git notes add'
  d7a479ade892c3304449960d43b116195e49961a
Due: none

fix(probe): add diagnostic logging for content_mismatch failures
  internal/monitor/probe.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(notifier): use external DNS and force IPv4 for Telegram API
  notifier/docker-compose.yaml
Due: none

feat(notifier): display event time in Beijing timezone (UTC+8)
  notifier/internal/notifier/sender.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(notifier): add QQ notification support via NapCatQQ (OneBot v11)
  notifier/README.md
  notifier/cmd/notifier/main.go
  notifier/config.dev.yaml
  notifier/internal/api/server.go
  notifier/internal/config/config.go
  notifier/internal/notifier/sender.go
  notifier/internal/qq/bot.go
  notifier/internal/qq/client.go
  notifier/internal/qq/types.go
  notifier/internal/storage/sqlite.go
  notifier/internal/storage/storage.go
  notifier/internal/telegram/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(notifier): subscription channel wildcard matching
  notifier/internal/storage/sqlite.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat: add status query API and improve QQ bot group handling
  internal/api/events_handler.go
  internal/api/server.go
  internal/api/status_query_handler.go
  notifier/internal/qq/bot.go
  notifier/internal/qq/types.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

feat(notifier): add /snap command for screenshot of subscribed services
  frontend/src/App.tsx
  notifier/go.mod
  notifier/go.sum
  notifier/internal/config/config.go
  notifier/internal/qq/bot.go
  notifier/internal/screenshot/service.go
  notifier/internal/telegram/bot.go
  notifier/internal/telegram/client.go
Due: go-fmt, go-vet, go-build, go-mod-tidy, frontend-lint

feat(notifier): improve /snap screenshot with service filter and personalized prompt
  notifier/cmd/notifier/main.go
  notifier/internal/qq/bot.go
  notifier/internal/qq/client.go
  notifier/internal/qq/types.go
  notifier/internal/screenshot/service.go
  notifier/internal/telegram/bot.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

docs(notifier): add screenshot feature documentation
  notifier/README.md
  notifier/config.dev.yaml
Due: none

fix(notifier): prevent SQLite deadlock in multi-platform migration
  notifier/internal/storage/sqlite.go
Due: go-fmt, go-vet, go-build, go-mod-tidy

fix(notifier): update Dockerfile for Playwright/Chromium support
  notifier/Dockerfile
Due: none

fix(notifier): ensure Playwright driver is installed before use
  notifier/Dockerfile
  notifier/internal/screenshot/service.go
Due: go-fmt, go-vet, go-build, go-mod-tidy
